.table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  thead {
    height: 40px;
    line-height: 40px;
    background-color: #f7f7f7;
  }
  tbody {
    background-color: #fcfcfc;
    td {
      height: 40px;
      line-height: 40px;
      padding: 0 12px;
    }
  }
}
